@import 'variables';

.search-form {
}


.card-course-item{
    padding-top: 16px !important;
}

.user-avatar{
    width: 28px ;
    height: 28px ;
    border-radius: 50% ;
    margin-right: 4px;
}


.btn-create-courses{
    position:relative;
    width: 100%;
    height: 40px;
}
.create-courses{
    position: absolute;
    right: 0;
}