<form action="/create-course" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Tên khóa học</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Tên khóa học">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Mô tả khóa học</label>
        <textarea class="form-control" name="description" id="description" rows="3"
            placeholder="Mô tả khóa học"></textarea>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Link hình ảnh</label>
        <input type="text" name="image" class="form-control" id="image" placeholder="Link hình ảnh">
    </div>
    <button type="submit" class="btn btn-primary">Tạo khóa học</button>
</form>